# Terraform
.terraform/
.terraform.*
!.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
tfplan
.tfplan
*.tfplan

# Terraformer
generated/

# Env
.env*
!.env.example

# IDE
.vscode
.idea
